n8n/workflows/WF-02_WhatsApp_Status_Router.json
{
  "name": "WF-02 WhatsApp Status Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rocha/whatsapp/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1",
      "name": "Webhook WhatsApp Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_BASE_URL}}/api/webhooks/whatsapp/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "b2",
      "name": "Persist Status Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {}
      },
      "id": "b3",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        260
      ]
    }
  ],
  "connections": {
    "Webhook WhatsApp Status": {
      "main": [
        [
          {
            "node": "Persist Status Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Status Event": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "1"
}
