n8n/workflows/WF-01_WhatsApp_Inbound_Router.json
{
  "name": "WF-01 WhatsApp Inbound Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rocha/whatsapp/inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1",
      "name": "Webhook WhatsApp Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_BASE_URL}}/api/webhooks/whatsapp/inbound",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "a2",
      "name": "Forward to Next API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {}
      },
      "id": "a3",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        280
      ]
    }
  ],
  "connections": {
    "Webhook WhatsApp Inbound": {
      "main": [
        [
          {
            "node": "Forward to Next API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Next API": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "1"
}
