n8n/workflows/WF-08_Asaas_Webhook_Handler.json
{
  "name": "WF-08 Asaas Webhook Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rocha/asaas/webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1",
      "name": "Webhook Asaas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_BASE_URL}}/api/webhooks/asaas",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "asaas-access-token",
              "value": "={{$headers[\"asaas-access-token\"] || \"\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2",
      "name": "Forward to Billing API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        490,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true}",
        "options": {}
      },
      "id": "c3",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        760,
        280
      ]
    }
  ],
  "connections": {
    "Webhook Asaas": {
      "main": [
        [
          {
            "node": "Forward to Billing API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Billing API": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "1"
}
